rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isDocOwner() {
      return isAuthenticated() && resource.data.user_id == request.auth.uid;
    }

    function isNewDocOwner() {
      return isAuthenticated() && request.resource.data.user_id == request.auth.uid;
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /jobs/{jobId} {
      allow read: if isDocOwner();
      allow create: if isNewDocOwner();
      allow update, delete: if isDocOwner();
    }

    match /recipes/{recipeId} {
      allow read: if isDocOwner();
      allow create: if isNewDocOwner();
      allow update, delete: if isDocOwner();
    }

    match /shopping_list/{docId} {
      allow read: if isDocOwner();
      allow create: if isNewDocOwner();
      allow update, delete: if isDocOwner();
    }

    match /pantry/{docId} {
      allow read: if isDocOwner();
      allow create: if isNewDocOwner();
      allow update, delete: if isDocOwner();
    }

    match /prep_catalog/{docId} {
      allow read: if isDocOwner();
      allow create: if isNewDocOwner();
      allow update, delete: if isDocOwner();
    }
  }
}
